{% extends 'base.html' %}


{% block content %}

{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

<div class="container-fluid">
    <div class="row">
        <div class="col-3 p-2" style="min-height: 85vh">
            <div class="panel text-center " id="side-panel">
                <div class="card">
                    <div class="card-header m-0 p-0">
                        <a class="card-link " data-toggle="collapse" href=""><button class="btn btn-block btn-secondary">Dashboard</button>
                        </a>
                    </div>
                </div>

                <div class="card mt-2 ">
                    <div class="card-header m-0 p-0">
                        <a class="card-link " data-toggle="collapse" href="#users"><button class="btn btn-block btn-secondary">
                            Users</button>
                        </a>
                    </div>
                    <div id="users" class="collapse " data-parent="#side-panel">
                        <div class="list-group-item">
                            <button class="btn btn-block btn-light"><a href="">All Users</a></button>
                            <button class="btn btn-block btn-light"><a href="">list Address</a></button>
                            <button class="btn btn-block btn-light"><a href="">Update User</a></button>
                            <button class="btn btn-block btn-light"><a href="">Delete User</a></button>

                        </div>
                    </div>
                </div>


    </div>
</div>
    <div class="col-9 bg-secondary">

            <p>hello mehdi</p>
            <p>djkhewfg ekjrghwejrg akjghqwkeljgfn vaskljfg</p>

        </div>
{% endblock %}


