{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %} Store Sez {% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Store Dez</a></h1>
{% endblock %}



{% block extrahead %}

    <style>
        @font-face {
            font-family: Nazanin;

        }

        :root{
            --body-fg : #23bdd4
                --primary: #2ab9b9;
            --body-bg: #94b8ae;
                --darkened-bg: #d0d5d9;
                --header-color: #f7f70c;
                --header-link-color: #062c9a;
            --link-fg : #020101

        }

        body{
            {#background-color: #498fde;#}
            font-family: Nazanin;
        }
    </style>

{% endblock %}