{% extends "base.html" %}
{% load i18n %}
{% block title %}
        {% trans ' home' %}
{% endblock %}
{% load static %}

{% block css %}

    <link href="{{ 'home.html'}}" rel="stylesheet">
{% endblock %}
{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}


{% block content %}

    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" style="box-shadow: 1px 2px dimgrey,1px 2px dimgrey">
        <ol class="carousel-indicators">
            <li  data-bs-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li  data-bs-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li  data-bs-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            {% for i in gallery %}
            <div class="carousel-item {% if forloop.first %} active {% endif %}">
                <img src="{{ i.image.url }}" style="width: auto;height: 300px" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ i.name }}</h5>

                </div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button"
                data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button"
                data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div><br><br>


{% for category in categories %}
    <a href="{{ category.get_absolute_url }}" class="btn btn-primary">{{ category.name }}</a>
{% endfor %} <br/><br/><br/>


{% for product in products %}
 <div class="card" style="width: 18rem; display: inline-block;margin-left: 2rem; box-shadow: 1px 2px dimgrey">
    <img src="{{ product.image.url }}" class="card-img-top" alt="...">
    <div class="card-body">
        <a href="{{ product.get_absolute_url }}" class="card-title">{{ product.name }}</a>
    </div>
 </div>

{% endfor %}


{% endblock %}

