{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block title %} {% trans 'home' %} {% endblock %}
{% block css %}
    <link href="{{ 'home.html'}}" rel="stylesheet">
{% endblock %}
{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block content %}


<div class="container-fluid bgimg min-vh-75">
    <div class="row pr-lg-5 mr-3 header-text">
{#        <p style=" position: absolute; left: 15px; color: #05137d ; padding-top: 3vh">Store Dez</p>#}


    </div>
    <div class="row ">
{#        <p style="position: absolute; left: 40px; color: #030202; ">Open from 9am to 11pm</p><hr/>#}
        <img class="fa-text-width " src="{% static 'img/ممانعت-از-تغییر-عکس-پس-زمینه-2-600x364.jpg' %}" alt="My image" style="width: 40%; height: 40%;
            ">

    </div>


</div>
{% endblock %}

