{% load i18n %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
{#    <title> {% trans 'home' %} {% block title %}{% endblock %}</title>#}

    <title> {% block title %}{% endblock %} </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="theme-color" content="#9d4edd">

 <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
    {#    <link href="{{ url_for("static",filename="bootstrap.min.css") }}" rel="stylesheet">#}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>

    {% block css %}
        {% block costom_tag %} {% endblock %}
    {% endblock %}
    {% block script %}
    {% endblock %}
</head>
<body>

{#------------------------------------------#}
{#<header style="background-color: #3e5d99;margin-bottom: 30px">#}
{#    <div class="container-fluid " id="myHeader">#}
{#        <div class="row">#}
{#            <div class="col-4 mt-2" >#}
{#                <h4>Store Dez</h4>#}
{#            </div>#}
{#            <div class="col-8" id="register-nav" style="float: right; text-align: right">#}
{##}
{##}
{##}
{#            </div>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="col mt-2">#}
{#                <nav>#}
{#                    <div id="myTopnav" class="topnav" >#}
{#                        <a href="{% url 'home' %}" id="home" class="" style="color: white"><strong>Home</strong></a>#}
{#                        <a href="{% url 'login' %}" id="login" class=""><strong>login</strong></a>#}
{#                        <a href="{% url 'register' %}" id="Register" class=""><strong>Register</strong></a>#}
{#                        <a href="{% url 'logout' %}" id="Logout" class=""><strong>logout</strong></a>#}
{##}
{#                    </div>#}
{#                </nav>#}
{#            </div>#}
{#        </div>#}
{##}
{#    </div>#}
{#</header>#}

{#---------------------------------------#}
{% include 'inc/navbar.html' %}
<div id="content" class="jumbotron" >
    {% include 'inc/messages.html' %}
    {% block content %}

    {% endblock %}


</div>
{% include 'inc/footer.html' %}

{#-----------------------------------------#}

{#<div id="footer" style="background-color: #3e5d99;">#}
{#    {% block footer %}#}
{#        <div class="container-fluid ">#}
{#            <div class="row">#}
{#                <div class="col-12 col-sm-8">#}
{#                    <p style=" padding: 1rem">Contact Us : <i class="fa fa-phone-square fa-lg"> </i> 09390310068 <i#}
{#                            class="fa fa-envelope-square fa-lg"> </i> Store@good_Dez.com <i#}
{#                            class="fa fa-map-marker fa-lg"> </i> Dezful, Resistance field , Store  </p>#}
{#                </div>#}
{#                <div class="col-12 col-sm-4">#}
{#                    <p style=" padding: 1rem">&copy; Copyright 2021 by Store</p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#    {% endblock %}#}
{#</div>#}
<h3>Address Store :</h3><hr/>
<p>Khozestan - Dezful - meydan Moghavemt</p>

{#----------------------------------------------#}


{#<script>#}
{#    function myFunction() {#}
{#        var x = document.getElementById("myTopnav");#}
{#        if (x.className === "topnav") {#}
{#            x.className += " responsive";#}
{#        } else {#}
{#            x.className = "topnav";#}
{#        }#}
{#    }#}
{#</script>#}
{#<script>#}
{#    $(document).ready(function () {#}
{#        console.log("ready")#}
{#        $(document).on("click", "a", function () {#}
{#            $('.topnav a').removeClass('active');#}
{#            $(this).addClass("active");#}
{#        });#}
        {#$('#myTopnav a').on('click','a', function () {#}
        {#    console.log("in");#}
        {#    $('#myTopnav').find('a.active').removeClass('active');#}
        {#    $("#{{request.endpoint}}").addClass("active");#}
        {#    $(this).addClass('active');#}
        {# });#}
{#    });#}
{##}
{#</script>#}
{#<script>#}
{#$(document).ready(function () {#}
{#$("#{{request.endpoint}}").addClass("active"); })#}
{#</script>#}
</body>
</html>