<!DOCTYPE html>
{% load static %}
{% load i18n %}
<link rel="stylesheet" href="{% static 'body.css' %}">
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
        <title>  {% block title %}{% endblock %}</title>



    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#9d4edd">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://gorbeh.ikacc.ir/gorbeh/css/gorbeh-icons.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .pointer{
            cursor: pointer;
        }

    </style>

    {% block css %}
        {% block costom_tag %} {% endblock %}
    {% endblock %}
    {% block script %}
    {% endblock %}
</head>
<body class="main">


{#---------------------------------------#}
{% include 'inc/navbar.html' %}
<div id="content" class="jumbotron" >
    {% include 'inc/messages.html' %}
    {% block content %}

    {% endblock %}


</div>
{% include 'inc/footer.html' %}



{% block extrajs %}

{% endblock %}
</body>
</html>