<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

</head>
<body>
<center>
     <form action="">
        <input type="range" oninput="ShowData($(this).val())">
    </form>
    <div  id="category"></div>

</center>

<script>
    function ShowData(num){
         $.getJSON("http://127.0.0.1:8000/product_api/category/", function (data){
              $('#category').html('')
         $.each(data, function (k,v){
                let elem = '<div class="rounded-md bg-blue-600 shadow-lg text-white text-lg">'+
                    '<h1 class="font-bold">'+k+'</h1><hr>'+
                    '<p class="text-sm">'+v.name+'</p>'+

                    '</div>'
            $('#category').append(elem)
        })
    })
    }

</script>
</body>
</html>